.shop{
  .container{
    main{
      height: 500px;
      products-root{
        vertical-align: top;
        display: inline-block;
        width: 70%;

      }
      shopcategories-root{
        display: inline-block;
        width: 20%;
      }
    }
  }
}