<div class="categories">
    <div class="container">
       <div class="sales">
          <h3>Sale Products</h3>
          <hr />
          <div class="product">
             <img src="../../../assets/img/blackjacket.jpg" alt="" height="80">
             <div class="details">
                <h4>Mens Fall Jacket In Black</h4>
                <h4><span>£40.00</span> 20% OFF £72.00</h4>
                <hr>
             </div>
          </div>
          <div class="product">
             <img src="../../../assets/img/blackbralette.jpg" alt="" height="80">
             <div class="details">
                <h4>Mens Fall Jacket In Black</h4>
                <h4><span>£40.00</span> 20% OFF £72.00</h4>
                <hr>
             </div>
          </div>
          <div class="product">
             <img src="../../../assets/img/bluesummershort.jpg" alt="" height="80">
             <div class="details">
                <h4>Mens Fall Jacket In Black</h4>
                <h4><span>£40.00</span> 20% OFF £72.00</h4>
                <hr>                
             </div>
          </div>
          <div class="product">
             <img src="../../../assets/img/blackbikini.jpg" alt="" height="80">
             <div class="details">
                <h4>Mens Fall Jacket In Black</h4>
                <h4><span>£40.00</span> 20% OFF £72.00</h4>
                <hr>
             </div>
          </div>
       </div>
       <div class="best-sellers">
          <h3>Best Sellers</h3>
          <hr />
          <div class="product">
             <img src="../../../assets/img/ledshoes.jpg" alt="" height="80">
             <div class="details">
                <h4>Mens Fall Jacket In Black</h4>
                <h4><span>£40.00</span> 20% OFF £72.00</h4>
                <hr>
             </div>
          </div>
          <div class="product">
             <img src="../../../assets/img/navyblueshoes.jpg" alt="" height="80">
             <div class="details">
                <h4>Mens Fall Jacket In Black</h4>
                <h4><span>£40.00</span> 20% OFF £72.00</h4>
                <hr>
             </div>
          </div>
          <div class="product">
             <img src="../../../assets/img/goldzipperbackpack.jpg" alt="" height="80">
             <div class="details">
                <h4>Mens Fall Jacket In Black</h4>
                <h4><span>£40.00</span> 20% OFF £72.00</h4>
                <hr>
             </div>
          </div>
          <div class="product">
             <img src="../../../assets/img/blacktotebag.jpg" alt="" height="80">
             <div class="details">
                <h4>Mens Fall Jacket In Black</h4>
                <h4><span>£40.00</span> 20% OFF £72.00</h4>
                <hr>
             </div>
          </div>
       </div>
       <div class="kids-product">
          <h3>Kids Products</h3>
          <hr />
          <div class="product">
             <img src="../../../assets/img/anchorshirt.jpg" alt="" height="80">
             <div class="details">
                <h4>Mens Fall Jacket In Black</h4>
                <h4><span>£40.00</span> 20% OFF £72.00</h4>
                <hr>
             </div>
          </div>
          <div class="product">
             <img src="../../../assets/img/greyjacket.jpg" alt="" height="80">
             <div class="details">
                <h4>Mens Fall Jacket In Black</h4>
                <h4><span>£40.00</span> 20% OFF £72.00</h4>
                <hr>
             </div>
          </div>
          <div class="product">
             <img src="../../../assets/img/kidbluejacket.jpg" alt="" height="80">
             <div class="details">
                <h4>Mens Fall Jacket In Black</h4>
                <h4><span>£40.00</span> 20% OFF £72.00</h4>
                <hr>
             </div>
          </div>
          <div class="product">
             <img src="../../../assets/img/floraljumper.jpg" alt="" height="80">
             <div class="details">
                <h4>Mens Fall Jacket In Black</h4>
                <h4><span>£40.00</span> 20% OFF £72.00</h4>
                <hr>
             </div>
          </div>
       </div>
    </div>
 </div>