<div class="container">
    <div class="product" *ngIf=product>
        <div class="image-wrapper">
          <div class="product-image">
             <img [src]=sanitizeSrc(product.images[imagesChoosen]) alt="product">
             <div class="lens">
                <i class="fa fa-search-plus"></i>
             </div>
          </div>
          <div class="sub-images">
            <img *ngFor="let image of product.images" [src]=sanitizeSrc(image) alt="" #images (click)="changeImage($event)" [attr.data-images]="product.images">
            </div>
       </div>
       <div class="product-details">
          <h1>{{product.name}}</h1>
          <h2>£{{product.price}}</h2>
          <h2>{{product.details}}</h2>
          <div class="quantity-wrapper">
             <h1>Quantity</h1>
             <input type="text" name="Quantity" onkeydown="return false;" value="{{value}}" #quantity>
             <div class="calculate">
                <span><i class="fa fa-angle-up" (click)="quantityHandler($event)" id="plus"></i></span>
                <span><i class="fa fa-angle-down" (click)="quantityHandler($event)" id="minus"></i></span>
             </div>
          </div>
          <a (click)="onCheckout()"><i class="fa fa-shopping-cart"></i> Checkout</a>
          <div class="share-links">
             <p>Share</p>
             <div class="facebook">
                <i class="fa fa-facebook"></i>
             </div>
             <div class="twitter">
                <i class="fa fa-twitter"></i>
             </div>
             <div class="google">
                <i class="fa fa-google"></i>
             </div>
             <div class="pinterest">
                <i class="fa fa-pinterest-p"></i>
             </div>
          </div>
       </div>
    </div>
 </div>