.product{
  display: block;
  position: relative;
  margin: 5% 0;
  .image-wrapper{
    height: 350px;
    width: 500px;
    display: inline-block;

    .product-image{
      position: relative;
      width: 80%;
      float: right;
  
      img{
        width: 100%;
        height: 100%;
        transition: all .5s ease-in-out;
      }
  
      .lens{
        background: transparent;
        opacity: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 700;
        top: 0;
  
        &:hover{
          opacity: 0.5;
          background: #fff;
        }
  
        i{
          font-size: 1.8rem;
          text-align: center;
          display: block;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          opacity: 1;
          z-index: 999;
          color: #000;
        }
      }
    }
    .sub-images{
      float: left;
      img{
        display: block;
        height: 50px;
        width: 65px;
        margin: 15px 15px;
        &:nth-child(1) {
        margin-top: 0px;
        }
      }
    }
  }
    
  .product-details{
    display: inline-block;
    width: 50%;
    vertical-align: top;
    margin: 0px 15px;

    h1{
      color: #373737;
      font-size: 1.1rem;
      margin: 10px;
      text-transform: uppercase;
    }

    h2{
      margin: 10px;
      font-weight: 300;
      font-size: 1rem;
      font-family: sans-serif;

      &:nth-child(2) {
        color: #000;
      }

      &:nth-child(3) {
        color: #9c9b9b;
      }
    }

    .quantity-wrapper{
      h1{
        display: inline;
      }

      input{
        width: 30px;
        height: 35px;
        display: inline-block;
        padding: 0px 5px;
        border: 1px solid #eeeeee;
      }

      .calculate{
        display: inline-block;
        width: 20px;
        margin: 0px 5px;
        vertical-align: middle;

        span{
          cursor: pointer;
          text-align: center;
          display: block;
          border: 1px solid #eeeeee;
          i{
            display: block;
          }
        }
      }
    }
    a{
      background: #3e9b93;
      color: #fff;
      padding: 10px 30px;
      border-radius: 20px;
      display: block;
      width: 100px;
      margin: 15px 0px;
    }
    .share-links{
      p{
        display: inline-block;
        margin: 0px 10px;
      }
  
      .facebook, .twitter, .google, .pinterest{
        display: inline-block;
        height: 30px;
        width: 37px;
        text-align: center;
        i{
          display: block;
          border: 1px solid #eeeeee;
          padding: 10px;
          transition: all ease-in-out 300ms;
        }
      }

      .facebook{
        &:hover{
          i{
          background: #3B5998;
          color: #fff;
          }
        }
      }
      .twitter{
        &:hover{
          i{
          background: #1DA1F2;
          color: #fff;
          }
        }
      }
      .google{
        &:hover{
          i{
          background: #DB4437;
          color: #fff;
          }
        }
      }
      .pinterest{
        &:hover{
          i{
          background: #BD081C;
          color: #fff;
          }
        }
      }
    }
  }
}
