<footer>
        <div class="container">
          <div class="logos">
            <img src="../../assets/img/logo.png" alt="logo" height="40">
            <div class="logo" id="fb-logo">
            <img src="../../assets/img/facebooklogo.svg" alt="logo" height="30">
            </div>
            <div class="logo" id="insta-logo">
            <img src="../../assets/img/instagramlogo.svg" alt="logo" height="30">
            </div>
            <div class="logo" id="twitter-logo">
            <img src="../../assets/img/twitterlogo.svg" alt="logo" height="30">
            </div>
          </div>
          <div class="info">
              <div class="info-wrapper">
                  <img src="../../assets/img/marker.svg" alt="logo" height="50">
                  <div class="text-wrapper">
                    <h5>44 Broomfield Place
                      </h5>
                      <h5>STONE CROSS</h5>
                      <h5>BN24 98D</h5>
                  </div>
              </div>
              <div class="info-wrapper">
                  <img src="../../assets/img/phonelogo.svg" alt="logo" height="50">
                  <div class="text-wrapper">
                    <h5>+44 3069 990298
                      </h5>
                  </div>
              </div>
              <div class="info-wrapper">
                  <img src="../../assets/img/mailboxlogo.svg" alt="logo" height="50">
                  <div class="text-wrapper">
                    <h5>contact@kamashop.com
                      </h5>
                  </div>
              </div>
          </div>
          <div class="copyright">
            <h3>Kamashop Copyright &copy; 2018 All Rights Reserved</h3>
          </div>
        </div>
      </footer>