<div class="container">
    <div class="info-wrapper">
        <div class="circle">
        <i class="fa fa-truck"></i>
        </div>
        <div class="text" >
        <h3>Fast Delivery</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente recusandae minus optio rum voluptatum quam porro quaerat voluptas laboriosam dolor perspiciatis.</p>
        </div>
    </div>
    <div class="info-wrapper">
        <div class="circle">
        <i class="fa fa-lock"></i>
        </div>
        <div class="text">
        <h3>Secure</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente recusandae minus optio quas, explicabo, maiores quo, vel fugiat totam aspernatur o.</p>
        </div>
    </div>
    <div class="info-wrapper">
        <div class="circle">
        <i class="fa fa-shopping-bag"></i>
        </div>
        <div class="text">
        <h3>Easy To Shop</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente recusandae minus optio quas, explicabo, maiores quo, vel fugiat totam aspernatur odio.</p>
        </div>
    </div>
</div>