.container{
    display: flex;
    flex-wrap: wrap;

    .info-wrapper{
    margin: 60px 15px;
    flex: 1;

    .circle{
        margin: 0 auto;
        position: relative;
        height: 180px;
        width: 180px;
        background: #3e9b93;
        border-radius: 50%;

        i{
        display: block;
        width: 100%;
        text-align: center;
        color: #fff;
        position: absolute;
        font-size: 80px;
        top: 0;
        bottom: 0;
        padding: 50px 0px;
        }
    }

    .text{
        margin: 15px 0px;

        h3{
        text-align: center;
        }

        p{
        text-align: center;
        padding: 0px 10px;
        }
    }
    }
}