.categories-ctn{
    padding: 5px 0px;

    h4{
      padding: 10px 0px;
      border-bottom: 1px solid #c9c9c9;
    }
    
    .categories-body{
      h5{
        font-weight: 300;
        cursor: pointer;
        padding: 5px 15px;
      }
    }
  }
  