<div class="shopcategories">
  <div class="container-fluid">
    <div class="title-ctn">
        <h3>Filter</h3>
        <i class="fa fa-spinner"></i>
    </div>
    <div class="categories-ctn">
      <h4><i class="fa fa-caret-down"></i>  Categories</h4>
      <div class="categories-body">
        <h5 (click)="onSelect($event)">Shirt</h5>
        <h5 (click)="onSelect($event)">Jacket</h5>
        <h5>Training &amp; Gym</h5>
        <h5>Basketball</h5>
        <h5>Foot</h5>
        <h5>Shoot</h5>
        <h5>Lorem</h5>
      </div>
    </div>
  </div>
</div>
