$black: #333;
$green: #03FCBA;
$semigreen: #3e9b93;
$darkgreen: #8AB0AB;
$white: #fff;

@font-face {
    font-family: Segoe UI;
    src: url('/assets/fonts/segoeui.ttf')
  }
  @font-face{
    font-family: Segoe SB;
    src: url('/assets/fonts/segoesb.ttf');
  }
  