<div class="products">
  <div class="container-fluid">
    <div class="product" *ngFor="let product of products" [@fadeInProduct]="'show'">
        <img  alt="product" (click)=onSelect(product.id) [src]=sanitizeSrc(product.image) #images>
      <hr>
      <div class="info">
          <h4 (click)=onSelect(product.id)>{{product.name}}</h4>
          <h5 (click)=onSelect(product.id)>£{{product.price}}</h5>
        <a (click)=onCheckout(product.id)>Add to Cart</a>
        </div>
    </div>
  </div>
</div>